html, body {
    margin: 0;
}
body {
    overflow-x:hidden;
    overflow-y:auto !important;
}
#root {
    height: 100% !important;
}
.flex-root {
    flex: 1 1;
}
.flex-column-fluid {
    flex: 1 0 auto;
}
.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-column {
    flex-direction: column!important;
}

form label.required:not(.form-check-label):after, form legend.required:after {
    content: " *";
    color: #dc3545;
}

.font-weight-bold {
    font-weight: bold !important;
}

form label {
    font-weight: bold;
}

.product-action {
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.table {
    min-width:500px;
}